.usercard{
    border-radius: 6px !important;
    border: 1px solid rgb(218,220,224) !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}
.userview-info{
    font-size: 13px;
    font-weight: 600;
}
.userview-label{
    font-size: 12px;
    font-weight: 500;
}