/* AddArea Component Styles */

.add-area-page-content {
  margin-right: 10px;
  margin-left: -10px;
  max-width: 100%;
}

.add-area-container-fluid {
  /* margin-top: -100px; */
  padding: 0;
}

.add-area-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.add-area-title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.add-area-form {
  padding: 0;
  margin-right: -20px;
  margin-bottom: -30px;
}

.add-area-form-container {
  padding: 0;
}

.add-area-divider {
  border-top: 2px solid #d9d9d9;
}