/* ExpenseTransactionForm Component Styles */

.expense-transaction-page-content {

  max-width: 100%;
}

.expense-transaction-container-fluid {
  padding: 0;
}

.expense-transaction-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.expense-transaction-title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.expense-transaction-form {
  padding: 0;
  /* margin-right: -20px; */
  margin-bottom: 30px;
}

.expense-transaction-form-container {
  padding: 0;
}

.expense-transaction-divider {
  border-top: 2px solid #d9d9d9;
}